html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


.hidden,
[hidden] {
  display: none !important;
}


.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.grid {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  background-color: #d3a778;
}

.grid div {
  width: 70px;
  height: 70px;
  background-size: 65px 65px;
  background-repeat: no-repeat;
}

.container {
  padding-top: 1rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container .score {
  width: 100%;
  max-width: 560px;
  font-size: 1.5rem;


  background-color: pink;
  border-radius: 10px;
  min-width: 200px;

  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#b8ffd2, #a3ffc5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
}

@media only screen and (max-width: 768px) {
  .grid {
    width: 400px;
    height: 400px;
  }

  .grid div {
    width: 50px;
    height: 50px;
    background-size: 45px 45px;
  }
}

@media only screen and (max-width: 400px) {
  .grid {
    width: 300px;
    height: 300px;
  }

  .grid div {
    width: 37px;
    height: 37px;
    background-size: 32px 32px;
  }
}


