html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


.hidden,
[hidden] {
  display: none !important;
}


.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

.grid {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  background-color: #d3a778;
}

.grid div {
  width: 70px;
  height: 70px;
}

.container {
  padding-top: 1rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container .score {
  width: 560px;
  font-size: 1.5rem;
}



